/* ----------------------------------------------------------------

  Additional normalize sttings

---------------------------------------------------------------- */
//----------------------------------------------------------------
//  見出し
//----------------------------------------------------------------
h1,h2,h3,h4,h5,h6{
  margin: 0;
}

//----------------------------------------------------------------
//	リスト
//----------------------------------------------------------------
ul,ol,li,dl,dt,dd{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

//----------------------------------------------------------------
//  テキスト
//----------------------------------------------------------------
p{
  line-height: 1.87;
}

//----------------------------------------------------------------
//  画像
//----------------------------------------------------------------
img{
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

//----------------------------------------------------------------
//	リンク
//----------------------------------------------------------------


//----------------------------------------------------------------
//	Box
//----------------------------------------------------------------
div{
  box-sizing: border-box;
}

//----------------------------------------------------------------
//	フォーム
//----------------------------------------------------------------
input[type='submit'],
input[type='button'],
button{
  border: none;
  cursor: pointer;
}

textarea{
  background: #fff;
}